body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(-45deg, #000000, #000000, #002930, #00ff44);
  background-size: 400% 400%;
  animation: gradientMove 8s ease infinite;
}

/* Anima o gradiente */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}
a img {
    border-radius: 50%;
    margin-top: 20px;
}
header img {
   width: 300px;
   height: 300px;
}
h1 {
    color: rgb(7, 201, 24);
    padding:  0px;
    text-align: center;
}
h2 {
    color: rgb(7, 201, 24);
    font-size: 30px;
    text-align: center;
    padding: 0px
}
p {
    padding-top: 0px;
    font-size: 20px;
    text-align: center;
    color: silver;
}
.features {
    padding-top: 0px;
    padding-bottom: 0%;
    font-size: 20px;
    text-align: center;
    color: rgb(6, 209, 6);
}
.features ul,
section ul {
    padding-top: 0;
    display: inline-block;
    text-align: center;
    list-style-position: inside;
    padding-left: 0%;
    border-bottom: 2px solid rgb(6, 209, 6);
    border-top: 2px solid rgb(6, 209, 6);
    border-right: 2px solid rgb(6, 209, 6);
    border-left: 2px solid rgb(6, 209, 6);
    display: inline-block;
    border-radius: 20px;

}
li {
    padding-top: 0px;
    padding-bottom: 0px;
    color: rgb(255, 255, 255);
    list-style: none;

}
section {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.planos {
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
}
.plano h3 {
    color: rgb(7, 201, 24);
    margin-bottom: 10px;
    text-align: center;
}

.plano p {
    color: silver;
    font-size: 15px;
}
.planos-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}
.plano {
    background-color: #111;
    border: 2px solid rgb(7, 201, 24);
    border-radius: 20px;
    width: 250px;
    padding: 20px;
    text-align: center; /* deixa o conteúdo centralizado */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;      /* organiza os itens em coluna */
    align-items: center;         /* centraliza tudo horizontalmente */
}

.plano-hover {
    transition: transform 0.3s;
    box-shadow: 0 0 15px rgb(7, 201, 24);
}
.plano img {
    width: 100px;
    height: 110px;
    border-radius: 60%;
    margin-bottom: 10px;
    display: block;
    margin: 0 auto;
}
.plano button {
    background-color: rgb(7, 201, 24);
    margin: 0 auto;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.2s;
}

.plano button:hover {
    background-color: rgb(236, 9, 9);
    transform: scale(1.05);
    margin: 0 auto;
    color: rgb(0, 0, 0)
}
.contact button {
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;;
    background-color: rgb(6, 209, 6);
    color: blanchedalmond;
    margin-bottom: 50px;
}